USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_WorkflowRolePOApprovalLead]    Script Date: 04-Aug-25 17:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pips].[stp_WorkflowRolePOApprovalLead] 
					@vUserNameSend		nvarchar(32), 
					@vSendDateTime		datetime,
					@vProcessId			numeric(11,0),
					@vProcessSN			nvarchar(254),
					@vTransactionId		numeric(22,0), 
					@vDocumentInfo		nvarchar(254),
					@vCurrentActivityId	numeric(4,0), 
					@vCurrentWorkflowId	numeric(4,0), 
					@vCurrentControlId	numeric(22,0),  
					@vPreviousControlId	numeric(22,0),  
					@vSendMessage		nvarchar(254),
					@vInputDecisionNumber numeric(3,0), 
					@vNextControlId     numeric(22,0),  
					@vOutReturn			nvarchar(max) OUTPUT    
AS   
BEGIN
BEGIN TRY 
	SET NOCOUNT ON;  -- boost performance  
	
	Declare 
	@vOutReturnString   NVARCHAR(1024),
  @strValueAuthAuctionWin nvarchar(32),
  @intPOId numeric,
  @strEmployeeNo varchar(32),
  @intTotal numeric(18,3),
  @intDiscountMgmt numeric(18,3),
  @flagAppr varchar(32),
  
  @curWFRole cursor,
  @curWFAttr cursor,
  @intRoleWFCtl numeric,
  @intNextActivity numeric,
  @intRoleProcAct numeric,
  @strRoleCode nvarchar(64),
  @intAttrId numeric,
  @strAttrCode nvarchar(64),
  @strAttrValue nvarchar(64),
  
  @intConfigId numeric,
  @strLastLOA varchar(32),
  
  @intControlApprovalPO numeric,
  @intPOExisting numeric,
  @strJobPosition varchar(32),
  @intDocTypeId numeric,
  @intProjectId numeric,
  
  @intCekANS numeric,
  @intCekALA numeric,
  @intCekPIC numeric,
  @intCekYIA numeric,
  
  @strIsDirUserLast char(1),
  @intAuctionCWinnerId numeric,
  @intAuctionId numeric;
  
  SET @vOutReturn = '1';
  
  select @intPOId = @vTransactionId;
  
  select
  @intPOExisting = isnull(max(a.PurchaseOrderId_FK),0)
  from
  pips.tblT_PurchaseOrderAmendment a
  where
  a.AmendPurchaseOrderId_FK=@intPOId;
  
  select
  @intTotal = isnull(sum(pips.fn_TotalPurchaseOrderDetail_IDR(a.PurchaseOrderDetailId_PK)),0)
  from
  pips.tblT_PurchaseOrderDetail a
  where
  a.PurchaseOrderId_FK=@intPOId;
  
  select @intDiscountMgmt = abs(isnull(max(yd.ConditionValue),0))
  from
  pips.tblT_PurchaseOrderCondition yd
  where
  yd.PurchaseOrderId_FK=@vTransactionId
  and yd.PaymentConditionTypeId_FK=11;
  
  set @intTotal = @intTotal - @intDiscountMgmt;
  
  select
  @intConfigId = count(1)
  from
  pips.tblT_PurchaseOrderDetail a
  inner join pips.tblT_PurchaseRequestDetail b on a.PurchaseRequestDetailId_FK=b.PurchaseRequestDetailId_PK
  inner join pips.tblT_ConfigPRApprovalRL c on b.PurchaseRequestId_FK=c.PurchaseRequestId_FK
  where
  a.PurchaseOrderId_FK=@vTransactionId;
  
  if @intConfigId > 0
  begin
  
    set @strLastLOA = pips.fn_GetLOAPO(@vTransactionId);
    set @flagAppr = @strLastLOA;
    
  end;
  else
  begin
  
    if @intPOExisting > 0
    begin
  
      select @intControlApprovalPO = isnull(max(WorkflowControlId_PK),0) 
      from pips.tblT_WorkflowControl 
      where WorkflowId_FK=21 and TransactionId=@intPOExisting and ProcessActivityId_FK=116
      and ControlStatus=1;
      
      select
      @strJobPosition = isnull(max(a.ActivityAttributeValue),'-')
      from
      pips.tblT_AttributeWorkflowControl a
      where 
      a.RoleWorkflowControlId_Fk=(
        select
        isnull(max(a.RoleWorkflowControlId_Pk),0)
        from
        pips.tblT_RoleWorkflowControl a
        where
        a.WorkflowControlId_FK=@intControlApprovalPO
      )
      and a.ActivityAttributeCode='JOBPOSITION';
      
      if upper(@strJobPosition) = 'PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
      begin
      
        -- ambil apa adanya sesuai otorisasi approval PO
        set @flagAppr = 'RL_DIRUT';
      
      end;
      else
      begin
    
        if @intTotal > 100000000 and @intTotal <= 8000000000
        begin
        
          set @flagAppr = 'RL_DIRBID';
        
        end;
        else
        begin
          
          if @intTotal <= 100000000
          begin
          
            select @flagAppr = max(RangeLabel)
            from 
            pips.tblM_AmountAuthorityRange
            where IsActive='Y'
            and CurrencyId_FK=1
            and @intTotal between LowerLimit and isnull(UpperLimit,9999999999999999)
            and RangeLabel like 'RL_%';
            
          end;
          else
          begin
        
            set @flagAppr = 'RL_DIRUT';
          
          end;
        
        end;
        
      end;
      
    end;
    else
    begin
    
      if @intTotal > 100000000 and @intTotal <= 8000000000
      begin
      
        set @flagAppr = 'RL_DIRBID';
      
      end;
      else
      begin
        
        if @intTotal <= 100000000
        begin
        
          select @flagAppr = max(RangeLabel)
          from 
          pips.tblM_AmountAuthorityRange
          where IsActive='Y'
          and CurrencyId_FK=1
          and @intTotal between LowerLimit and isnull(UpperLimit,9999999999999999)
          and RangeLabel like 'RL_%';
          
        end;
        else
        begin
      
          set @flagAppr = 'RL_DIRUT';
        
        end;
      
      end;
    
    end;
    
  end;
  
  if (charindex('SM',@flagAppr) > 0)
  begin
    
    select @strEmployeeNo = isnull(max(SM_EmployeeNo),'') from pips.tblM_Employee where EmployeeNo=
    (select isnull(max(EmployeeNo),'-') from pips.tblM_User where UserName=@vUserNameSend);
    
    --MKH
    if @strEmployeeNo = '71940470'
    begin
      
      /*
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('06-JAN-2020','DD-MON-YYYY') and pips.to_date('07-JAN-2020','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --WAA
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '68920268';
      end;
      */
      
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('05-JUL-2021','DD-MON-YYYY') and pips.to_date('05-JUL-2021','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --HBW
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '77040894';
      end;
      
      /*
      --WAA
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '68920268';
      end;
      */
      
      /*
      --AGY
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '76960613';
      end;  
      */
            
      
    end; 
    
  end;
  else if (charindex('GM',@flagAppr) > 0)
  begin
    
    select @strEmployeeNo = isnull(max(GM_EmployeeNo),'') from pips.tblM_Employee where EmployeeNo=
    (select isnull(max(EmployeeNo),'-') from pips.tblM_User where UserName=@vUserNameSend);
              
    --FDS
    if @strEmployeeNo = '77050903'
    begin      

      select 
      @intCekYIA = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('18-JAN-2021','DD-MON-YYYY') and pips.to_date('22-JAN-2021','DD-MON-YYYY')
      then 1
      /*
      when pips.trunc(getdate()) 
            between pips.to_date('10-JUN-2019','DD-MON-YYYY') and pips.to_date('14-JUN-2019','DD-MON-YYYY')
      then 1
      */
      else 0
      end);
      
      --NNZ
      if @intCekYIA = 1
      begin
        set @strEmployeeNo = '82060950';
      end;
      
    end;
   
    --BRH
    if @strEmployeeNo = '59192068'
    begin
    
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('13-FEB-2019','DD-MON-YYYY') and pips.to_date('14-FEB-2019','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --ANS
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '59161377';
      end;
      
      /*
      --ALA
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '66141171';
      end;
      */
      
     
      
    end; 
    
    --GIN
    if @strEmployeeNo = '71141169'
    begin
    
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('26-SEP-2019','DD-MON-YYYY') and pips.to_date('27-SEP-2019','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --ALA
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '66141171';
      end; 
    end; 
    
  end;
  else if (charindex('DIRBID',@flagAppr) > 0)
  begin
  
    select
    @intAuctionId = isnull(max(b.AuctionId_FK),0)
    from
    pips.tblT_PurchaseOrderAuctionWinner a
    inner join pips.tblT_AuctionWinner b on a.AuctionWinnerId_FK=b.AuctionWinnerId_PK
    where
    a.PurchaseOrderId_FK in (@intPOExisting, @intPOId);
  
    select
    @strIsDirUserLast = isnull(max(a.IsDirUserLast),'T'),
    @intAuctionCWinnerId = isnull(max(a.AuctionCWinnerId_PK),0)
    from
    pips.tblT_AuctionCWinner a
    where
    a.AuctionId_FK=@intAuctionId;
    
    if @strIsDirUserLast = 'Y'
    begin
    
      select top 1
      @strEmployeeNo = c.EmployeeNo
      from pips.tblt_workflowcontrol a
      inner join pips.tblT_WorkflowSchedule b on a.WorkflowControlId_PK=b.WorkflowControlId_FK
      inner join pips.tblM_User c on a.UserNameSubmit=c.UserName
      where a.TransactionId=@intAuctionCWinnerId
      and a.WorkflowId_FK=131
      and a.ProcessActivityId_FK=267
      and b.ActionType='DIRUSER_ACCEPT'
      order by a.SubmitDateTime;

    
    end;
    else
    begin
    
      select @strEmployeeNo = isnull(max(DirBid_EmployeeNo),'') from pips.tblM_Employee where EmployeeNo=
      (select isnull(max(EmployeeNo),'-') from pips.tblM_User where UserName=@vUserNameSend);
      
    end;
    /*
    --ALA
    if @strEmployeeNo = '66141171'
    begin
    
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('04-SEP-2019','DD-MON-YYYY') and pips.to_date('06-SEP-2019','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      
      --ANS
      /*
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '59161377';
      end;
      */
      
      --AD
      /*if @intCekPIC = 1
      begin
        set @strEmployeeNo = '62141170';
      end;
      */
      
      --GIN
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '71141169';
      end;
     
    end; 
    */
    --BRH
    if @strEmployeeNo = '59192068'
    begin
    
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('21-JUN-2021','DD-MON-YYYY') and pips.to_date('27-JUN-2021','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --GIN
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '71141169';
      end;      
      
      /*
             --ANS
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '59161377';
      end;

      
      --ALA
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '66141171';
      end;
      */
      
    end;
    
    --GIN
    if @strEmployeeNo = '71141169'
    begin
    
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('10-MAY-2021','DD-MON-YYYY') and pips.to_date('11-MAY-2021','DD-MON-YYYY')
      then 1
      else 0
      end);
      
      --ZH
      if @intCekPIC = 1
      begin
        set @strEmployeeNo = '67202320';
      end; 
    end;
    
    
    --TKS
    if @strEmployeeNo = '56161514'
    begin
    
      select 
      @intCekANS = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('13-MAY-2019','DD-MON-YYYY') and pips.to_date('14-MAY-2019','DD-MON-YYYY')
      then 1
      else 0
      end);
      
        /*
      select 
      @intCekALA = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('06-MAR-2019','DD-MON-YYYY') and pips.to_date('08-MAR-2019','DD-MON-YYYY')
      then 1
      else 0
      end);
      */
      
      if @intCekANS = 1
      begin
        set @strEmployeeNo = '59161377';
      end;
      
      /*
      if @intCekALA = 1
      begin
        set @strEmployeeNo = '66141171';
      end;
      */
      
    end;  
    
  end;
  else if (charindex('DIRUT',@flagAppr) > 0)
  begin
  
    select @strEmployeeNo = isnull(max(DirBid_EmployeeNo),'') from pips.tblM_Employee where EmployeeNo=
    (select isnull(max(EmployeeNo),'-') from pips.tblM_User where UserName=@vUserNameSend);
    
    select @strEmployeeNo = isnull(max(Leader_EmployeeNo),'') from pips.tblM_Employee where EmployeeNo=@strEmployeeNo;
    
    --AD
    if @strEmployeeNo = '62141170'
    begin
      
      select 
      @intCekPIC = 
      (case when pips.trunc(getdate()) 
            between pips.to_date('24-DEC-2021','DD-MON-YYYY') and pips.to_date('31-DEC-2021','DD-MON-YYYY')
      then 1
      else 0
      end);
      /*
      --ANS
      if @intCekPIC = 1
      begin
      
        set @strEmployeeNo = '59161377';
      
      end;
      */
      
      /*
      --GIN
      if @intCekPIC = 1
      begin
      
        set @strEmployeeNo = '71141169';
      
      end;
      */
      --ALA
      if @intCekPIC = 1
      begin
      
        set @strEmployeeNo = '66141171';
      
      end;
      
    end;
  
  end;
  
  
  select
  @intDocTypeId = isnull(max(a.DocumentTypeID_FK),0),
  @intProjectId = isnull(max(b.ProjectId_FK),0)
  from
  pips.tblT_PurchaseOrder a
  left outer join pips.tblT_PurchaseOrderAddInfo b on a.PurchaseOrderId_PK=b.PurchaseOrderId_FK
  where
  a.PurchaseOrderId_PK=@intPOId;
  
  --PO KONSORSIUM
  if @intDocTypeId = 14
  begin
  
    select @strEmployeeNo = isnull(max(a.EmployeeNoDirector),'-')
    from pips.tblM_Project a
    where a.ProjectId_PK=@intProjectId;
    
  end;
  
    
  select
  @intNextActivity = a.ProcessActivityId_FK
  from pips.tblT_WorkflowControl a
  where
  a.WorkflowControlId_PK=@vNextControlId;
  
  set @curWFRole = cursor for (
    select
    a.RoleProcessActivityId_PK,
    a.RoleCode
    from
    pips.tblM_RoleProcessActivity a
    where
    a.ProcessActivityId_FK=@intNextActivity
    and a.IsActive='Y'
    and pips.trunc(pips.sysdate()) between pips.trunc(a.ValidFrom) and pips.trunc(isnull(a.ValidTo,pips.sysdate()+1))
  );
  open @curWFRole;
  fetch next from @curWFRole into @intRoleProcAct, @strRoleCode;
  while (@@FETCH_STATUS = 0)
  begin
    
    insert into pips.tblT_RoleWorkflowControl (
      WorkflowControlId_FK, RoleCode, IsRead, ReadDateTime
    ) values (
      @vNextControlId, @strRoleCode, 'T', null
    );
    
    set @intRoleWFCtl = @@IDENTITY;
    
    set @curWFAttr = cursor for (
      select distinct
      a.ActivityAttributeId_Fk,
      b.ActivityAttributeCode
      from
      pips.tblM_RoleProcessActivityAttr a
      inner join pips.tblM_ActivityAttribute b on a.ActivityAttributeId_Fk=b.ActivityAttributeId_Pk
      where
      a.RoleProcessActivityId_FK=@intRoleProcAct
      and pips.trunc(pips.sysdate()) between pips.trunc(a.ValidFrom) and pips.trunc(isnull(a.ValidTo,pips.sysdate()+1))
    );
    open @curWFAttr;
    fetch next from @curWFAttr into @intAttrId, @strAttrCode;
    while (@@FETCH_STATUS = 0)
    begin
    
      if @strAttrCode = 'JOBPOSITION'
      begin
      
          select @strAttrValue=max(JobPositionName) from pips.tblM_Employee where EmployeeNo=@strEmployeeNo;
      
          insert into pips.tblT_AttributeWorkflowControl (
             RoleWorkflowControlId_Fk, ActivityAttributeCode, ActivityAttributeValue
          ) values (
             @intRoleWFCtl, @strAttrCode, @strAttrValue
          );        
        
      end;
      else if @strAttrCode = 'ORGANIZATIONCODE'
      begin
      
          select @strAttrValue=max(OrganizationName) from pips.tblM_Employee where EmployeeNo=@strEmployeeNo;
      
          insert into pips.tblT_AttributeWorkflowControl (
             RoleWorkflowControlId_Fk, ActivityAttributeCode, ActivityAttributeValue
          ) values (
             @intRoleWFCtl, @strAttrCode, @strAttrValue
          );        
        
      end;
      else
      begin
        set @strAttrValue = null;
      end;
      
      fetch next from @curWFAttr into @intAttrId, @strAttrCode;
    end;
    CLOSE @curWFAttr;
	  DEALLOCATE @curWFAttr;
    
    fetch next from @curWFRole into @intRoleProcAct, @strRoleCode;
  end;
  CLOSE @curWFRole;
	DEALLOCATE @curWFRole;
		
END TRY 

-------------
BEGIN CATCH      
   SET @vOutReturn = 'Error : '+ ERROR_MESSAGE();  
   RETURN;   
END CATCH 		
END
GO
