USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_CK_MSADocumentGeneralDocSave]    Script Date: 04-Aug-25 17:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [pips].[stp_CK_MSADocumentGeneralDocSave](
  @intContractDocumentId numeric,
  @strVendorCode varchar(32),
  @strBy varchar(32),
  @intGeneralVendorDocIdNew numeric out,
  @strOutMessage varchar(max) out
)
as
begin
declare
@intGeneralVendorDocId numeric,
@strContractNumber varchar(32),
@intVendorId numeric,
@strVendorName varchar(256),
@strEmpNoApprove varchar(32),
@intUserIdApprove numeric,
@strDocumentName varchar(512),
@strContractExists varchar(64),
@strIsPrivy char(1),
@intCekPO numeric;

begin try

  set @strOutMessage = '1';
  set @intGeneralVendorDocIdNew = 0;
  
  select
  @intCekPO = count(1)
  from
  pips.tblM_Vendor a
  inner join pips.tblT_PurchaseOrder b on a.VendorID_PK=b.VendorID_FK
  where
  a.VendorNumber=@strVendorCode
  and b.PurchaseOrderStatus=2;
  
  if @intCekPO = 7
  begin
  
    select
    @strContractNumber = a.ContractNumber
    from 
    pips.tblM_VendorContractExists a
    inner join pips.tblM_Vendor b on a.VendorId_FK=b.VendorID_PK
    where
    b.VendorNumber=@strVendorCode;
  
    select
    @strDocumentName = 'Contract MSA Accenture',
    @intVendorId = a.VendorId_PK,
    @strVendorName = pips.trim(a.Name1+isnull(a.Name2,'')+isnull(a.Name3,'')+isnull(a.Name4,''))
    from
    pips.tblM_Vendor a
    where
    a.VendorNumber=@strVendorCode;
    
    select
    @intUserIdApprove = isnull(max(b.UserId_PK),0)
    from
    pips.tblM_Employee a
    inner join pips.tblM_User b on a.EmployeeNo=b.EmployeeNo
    where
    a.JobPositionName='PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER';
    
    select @intGeneralVendorDocId = isnull(max( GeneralVendorDocumentId_PK),0),
    @strIsPrivy = isnull(max( IsPrivy),'T')
    from pips.tblT_GeneralVendorDocument
    where VendorId_FK=@intVendorId
    and PrivyDocumentTypeId_FK=7;
    
    if @intGeneralVendorDocId = 0
    begin
    
      set @strIsPrivy = 'T';
      
      insert into pips.tblT_GeneralVendorDocument (
        PrivyDocumentTypeId_FK, DocumentNumber, [Description], 
        UserIdSigned_FK, VendorId_FK, 
        [FileName], AttachmentFilePath, IsPrivy, 
        CreationDate, CreatedBy, UpdateDate, UpdateBy
      ) values (
        7, @strContractNumber, substring(@strDocumentName,1,512),
        @intUserIdApprove, @intVendorId,
        '-','-',@strIsPrivy,
        getdate(), @strBy, getdate(), @strBy
      );
      
      set @intGeneralVendorDocIdNew = @@IDENTITY;
      
    end;
    else
    begin
      
      if @strIsPrivy = 'T'
      begin
      
        set @intGeneralVendorDocIdNew = @intGeneralVendorDocId;
      
      end;
      
    
    end;
      
  end;
  
end try
begin catch
  set @intGeneralVendorDocIdNew = 0;
  set @strOutMessage = 'Failed - '+error_message();
end catch;
  
end;
GO
