USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_SubmitSRDirBidToDirUser]    Script Date: 04-Aug-25 17:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pips].[stp_SubmitSRDirBidToDirUser]
@intControlId numeric(18, 0), @strUser varchar(32), @strProcessMessage varchar(MAX), @strOutMsg varchar(MAX) OUTPUT
WITH EXEC AS CALLER
AS
begin
declare
@cur cursor,
@strUserNameDir varchar(32),
@intTransactionId numeric,
@strDocumentInfo varchar(512),
@intProcessId numeric,
@strSN varchar(50),
@intSNId numeric,
@dtNow datetime,
@intUserIdSend numeric,
@strUserFullSend varchar(128),
@strUserEmailSend varchar(64),
@strEmployeeNoSend varchar(32),
@intControlIdNew numeric,
@intRoleControlIdNew numeric,
@strUserPositionDir varchar(128),
@strUserOrganizationDir varchar(128),
@strFullNameUserDir varchar(128),
@strEmailUserDir varchar(64),
@intScheduleId numeric,
@strNewActivityName varchar(128),
@intCekPIC numeric,
@intActivityId numeric,
@intIsPR_CSD numeric,
@intIsCollegial_FromDirUser numeric;

begin tran;

begin try

  set @dtNow = getdate();

  select
  @intTransactionId = a.TransactionId,
  @strDocumentInfo = a.DocumentInfo,
  @intProcessId = a.ProcessId,
  @strSN = a.ProcessSN,
  @intActivityId = a.ProcessActivityId_FK 
  from
  pips.tblT_WorkflowControl a
  where
  a.WorkflowControlId_PK=@intControlId;
  
  select
  @intUserIdSend = a.UserId_PK,
  @strUserFullSend = a.FullName,
  @strUserEmailSend = a.EmailAddress,
  @strEmployeeNoSend = a.EmployeeNo
  from
  pips.tblM_User a
  where
  a.UserName=@strUser;
  
  select @intIsPR_CSD = pips.fn_IsPR_CSD(@intTransactionId);
  select @intIsCollegial_FromDirUser = pips.fn_IsCollegial_FromDirUser(@intTransactionId,@intActivityId);
  
  if @intIsPR_CSD = 0 and @intIsCollegial_FromDirUser = 1
  begin
    
    -- 3 direksi selain direksi user (direksi yg submit) dan direktur utama
    set @cur = cursor for 
      select distinct
      a.UserName
      from
      pips.tblM_User a
      where 
      a.UserStatus=1
      and exists (
        select 1
        from pips.tblM_UserAttribute x
        where
        x.UserId_FK=a.UserId_PK
        and x.UserAttributeTypeId_FK=10
        and upper(x.UserAttributeValue) like '%DIRECTOR%'
        and upper(x.UserAttributeValue) <> 'PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
      ) and a.UserName <> @strUser;
    open @cur;
    fetch next from @cur into @strUserNameDir;
    while (@@FETCH_STATUS = 0)
    begin
      
      if @strUserNameDir = 'GIN' 
      begin
        select 
          @intCekPIC = 
          (case when pips.trunc(getdate()) 
                between pips.to_date('02-APR-2024','DD-MON-YYYY') and pips.to_date('05-APR-2024','DD-MON-YYYY')

        then 1
        else 0
        end);
        
        --ZH
        if @intCekPIC = 1
        begin
        
          set @strUserNameDir = 'ZH';
        
        end;
      end;
    
      select
      @strFullNameUserDir = a.FullName,
      @strEmailUserDir = a.EmailAddress,
      @strUserPositionDir = (select max(x.UserAttributeValue) from pips.tblM_UserAttribute x
                       where 
                       x.UserId_FK=a.UserId_PK
                       and x.UserAttributeTypeId_FK=10 
                       and pips.trunc(getdate()) between pips.trunc(x.ValidFrom) and pips.trunc(isnull(x.ValidTo,getdate()+1))),
      @strUserOrganizationDir = (select max(x.UserAttributeValue) from pips.tblM_UserAttribute x
                       where 
                       x.UserId_FK=a.UserId_PK
                       and x.UserAttributeTypeId_FK=12 
                       and pips.trunc(getdate()) between pips.trunc(x.ValidFrom) and pips.trunc(isnull(x.ValidTo,getdate()+1)))
      from
      pips.tblM_User a
      where
      a.UserName=@strUserNameDir;
    
      insert into pips.tblT_WorkflowProcessSN (
        WorkflowProcessIdId_FK, ProcessActivityId_FK, IsActiveSN, CreationDate, CreatedBy, UpdateDate, UpdateBy
      ) values (
        @intProcessId, 310, 'Y', getdate(), @strUser, getdate(), @strUser
      );
      
      set @intSNId = @@IDENTITY;
    
      insert into pips.tblT_WorkflowControl (
        WorkflowId_FK, ProcessActivityId_FK, TransactionId, DocumentInfo, 
        ProcessId, ProcessSN, ReceiveDateTime, 
        OpenDateTime, UserIdOpen, UserNameOpen, UserFullNameOpen, UserEmailOpen, 
        SendDateTime, UserIdSend, UserNameSend, UserFullNameSend, UserEmailSend, 
        UserIdSubmit, UserNameSubmit, UserFullNameSubmit, UserEmailSubmit, SubmitDateTime, 
        ControlStatus, PreviousControlId, ProfileCode, ProcessMessage, 
        CreationDate, CreatedBy, UpdateDate, UpdateBy
      ) values (
        133, 310, @intTransactionId, @strDocumentInfo,
        @intProcessId, pips.to_char(@intSNId,null), @dtNow,
        null, null, null, null, null, 
        @dtNow, @intUserIdSend, @strUser, @strUserFullSend, @strUserEmailSend,
        null, null, null, null, null,
        0, @intControlId, 'INBOX', @strProcessMessage,
        getdate(), @strUser, getdate(), @strUser
      );
      
      set @intControlIdNew = @@IDENTITY;
      
      insert into pips.tblT_RoleWorkflowControl (
        WorkflowControlId_FK, RoleCode, IsRead, ReadDateTime, IsAssignTo
      ) values (
        @intControlIdNew, 'PRAPPROVAL', 'T', null, null
      );
      
      set @intRoleControlIdNew = @@IDENTITY;
      
      insert into pips.tblT_AttributeWorkflowControl (
        RoleWorkflowControlId_Fk, ActivityAttributeCode, ActivityAttributeValue
      ) values (
        @intRoleControlIdNew, 'JOBPOSITION', @strUserPositionDir
      );
      
      insert into pips.tblT_AttributeWorkflowControl (
        RoleWorkflowControlId_Fk, ActivityAttributeCode, ActivityAttributeValue
      ) values (
        @intRoleControlIdNew, 'ORGANIZATIONCODE', @strUserOrganizationDir
      );
      
      insert into pips.tblT_WorkflowControlUserTemp (
        WorkflowControlId_FK, UserName, FullName, EmailAddress
      ) values (
        @intControlIdNew, @strUserNameDir, @strFullNameUserDir, @strEmailUserDir
      );
    
      fetch next from @cur into @strUserNameDir;  
    end;
    close @cur;
    deallocate @cur;
    
    --- start for current control
    
    insert into pips.tblT_WorkflowSchedule (
      ProcessId, ProcessSN, WorkflowId_FK, TransactionId, WorkflowControlId_FK, 
      WorkflowMessage, ActionType, IsProcessed, 
      CreationDate, CreatedBy, UpdateDate, UpdateBy, 
      CreatedByFullName, CreatedByEmail, EmployeeNo
    ) values (
      @intProcessId, @strSN, 133, @intTransactionId, @intControlId,
      @strProcessMessage, 'NEXT_APPROVAL_DIRUSER', 'Y',
      getdate(), @strUser, getdate(), @strUser, 
      @strUserFullSend, @strUserEmailSend, @strEmployeeNoSend
    );
    
    set @intScheduleId = @@IDENTITY;
    
    select @strNewActivityName = a.ActivityName from pips.tblM_ProcessActivity a where a.ProcessActivityId_PK=310;
    
    insert into pips.tblT_WorkflowScheduleLog (
      WorkflowScheduleId_PK, ProcessId, ProcessSN, WorkflowId_FK, TransactionId, WorkflowControlId_FK, 
      WorkflowMessage, ActionType, ActiveActivity, LogDate, LogMessage, 
      CreationDate, CreatedBy, UpdateDate, UpdateBy, EmployeeNo
    ) values (
      @intScheduleId, @intProcessId, @strSN, 133, @intTransactionId, @intControlId,
      @strProcessMessage, 'NEXT_APPROVAL_DIRUSER', @strNewActivityName, getdate() ,'Success Submit to '+@strNewActivityName,
      getdate(), @strUser, getdate(), @strUser, @strEmployeeNoSend
    );
    
    Update pips.tblT_WorkflowControl
    set 
    UserIdSubmit=@intUserIdSend,
    UserNameSubmit=@strUser,
    UserFullNameSubmit=@strUserFullSend,
    UserEmailSubmit=@strUserEmailSend,
    SubmitDateTime=@dtNow,
    ControlStatus=1,
    ProfileCode='OUTBOX'
    where WorkflowControlId_PK=@intControlId;
    
    update pips.tblT_WorkflowProcessSN
    set IsActiveSN='N'
    where WorkflowProcessSNId_PK=pips.to_number(@strSN);
    
  end;
  
  --- end for current control

  commit tran;
  set @strOutMsg = '1';
  
end try
begin catch

  rollback tran;
  set @strOutMsg = error_message();
  
end catch;

end;
GO
