USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_CK_ContractDocumentGeneralDocSave]    Script Date: 04-Aug-25 17:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [pips].[stp_CK_ContractDocumentGeneralDocSave](
  @intContractDocumentId numeric,
  @strPeriodStart varchar(32),
  @strPeriodEnd varchar(32),
  @strBy varchar(32),
  @intGeneralVendorDocIdNew numeric out,
  @strOutMessage varchar(max) out
)
as
begin
declare
@intGeneralVendorDocId numeric,
@strContractNumber varchar(32),
@intVendorId numeric,
@strVendorName varchar(256),
@strEmpNoApprove varchar(32),
@intUserIdApprove numeric,
@strDocumentName varchar(512),
@strContractExists varchar(64),
@strIsPrivy char(1);

begin try

  set @strOutMessage = '1';
  set @intGeneralVendorDocIdNew = 0;
  
  select
  @strContractNumber = max(a.DocumentNo),
  @strDocumentName = max(a.DocumentName),
  @intVendorId = max(a.VendorId_FK),
  @intGeneralVendorDocId = isnull(max(a.GeneralVendorDocumentId_FK),0),
  @strVendorName = pips.trim(max(b.Name1)+isnull(max(b.Name2),'')+isnull(max(b.Name3),'')+isnull(max(b.Name4),''))
  from
  pips.tblM_ContractDocument a
  inner join pips.tblM_Vendor b on a.VendorId_FK=b.VendorID_PK
  where
  a.ContractDocumentId_PK=@intContractDocumentId;
  
  select
  @intUserIdApprove = isnull(max(b.UserId_PK),0)
  from
  pips.tblM_Employee a
  inner join pips.tblM_User b on a.EmployeeNo=b.EmployeeNo
  where
  a.JobPositionName='PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
  
  if @intGeneralVendorDocId > 0
  begin
    set @intGeneralVendorDocIdNew = @intGeneralVendorDocId;
  end;
  else
  begin
  
    select @strContractExists = isnull(max(a.ContractNumber),'')
    from pips.tblM_VendorContractExists a
    where a.VendorId_FK=@intVendorId and a.IsActive='Y';
    
    if @strContractExists <> ''
    begin
      
      set @strIsPrivy = 'Y';
      
    end;
    else
    begin
    
      set @strIsPrivy = 'T';
    
    end;
  
    insert into pips.tblT_GeneralVendorDocument (
      PrivyDocumentTypeId_FK, DocumentNumber, [Description], 
      UserIdSigned_FK, VendorId_FK, 
      [FileName], AttachmentFilePath, IsPrivy, 
      CreationDate, CreatedBy, UpdateDate, UpdateBy
    ) values (
      5, @strContractNumber, substring(@strDocumentName,1,512),
      @intUserIdApprove, @intVendorId,
      '-','-',@strIsPrivy,
      getdate(), @strBy, getdate(), @strBy
    );
    
    set @intGeneralVendorDocIdNew = @@IDENTITY;
    
    update pips.tblM_ContractDocument
    set GeneralVendorDocumentId_FK=@intGeneralVendorDocIdNew,
    ContractStartDate=cast(@strPeriodStart as datetime),
    ContractEndDate =cast(@strPeriodEnd as datetime),
    UpdateDate=getdate(),
    UpdateBy=@strBy
    where ContractDocumentId_PK=@intContractDocumentId;
  
  end;
  
end try
begin catch
  set @intGeneralVendorDocIdNew = 0;
  set @strOutMessage = 'Failed - '+error_message();
end catch;
  
end;
GO
