USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_AuctCatalogSigningGeneralDocSave_Vendor]    Script Date: 04-Aug-25 17:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [pips].[stp_AuctCatalogSigningGeneralDocSave_Vendor](
  @intAuctionCatalogDocId numeric,
  @intAuctionCWinnerVendorId numeric,
  @strBy varchar(32),
  @intGeneralVendorDocIdNew numeric out,
  @strOutMessage varchar(max) out
)
as
begin
declare
@intCatalogDocVendorId numeric,
@intGeneralVendorDocId numeric,
@strRequestNumber varchar(32),
@strRequestReason varchar(1024),
@intPOId numeric,
@strEmpNoApprove varchar(32),
@intUserIdApprove numeric,
@intVendorId numeric;

begin try

  set @strOutMessage = '1';
  set @intGeneralVendorDocIdNew = 0;

  select
  @intCatalogDocVendorId = isnull(max(b.AuctionCatalogDocVendorId_PK),0),
  @intGeneralVendorDocId = isnull(max(b.GeneralVendorDocumentId_FK),0),
  @strRequestNumber = max(a.DocNumber),
  @strRequestReason = '-'
  from
  pips.tblT_AuctionCatalogDocument a
  left outer join pips.tblT_AuctionCatalogDocVendor b on a.AuctionCatalogDocumentId_PK=b.AuctionCatalogDocumentId_FK
  and b.AuctionCWinnerVendorId_FK=@intAuctionCWinnerVendorId
  where
  a.AuctionCatalogDocumentId_PK=@intAuctionCatalogDocId;
  
  select
  @intVendorId = isnull(max(b.VendorID_FK),0)
  from
  pips.tblT_AuctionCWinnerVendor a
  inner join pips.tblT_AuctionBLVendor b on a.AuctionBLVendorId_FK=b.AuctionBLVendorId_PK
  where
  a.AuctionCWinnerVendorId_PK=@intAuctionCWinnerVendorId;
  
  /*
  Update pips.tblT_AuctionCatalogDocument
  set DocDate=getdate()
  where AuctionCatalogDocumentId_PK=@intAuctionCatalogDocId;
  
  select @strEmpNoApprove = isnull(max(DirBid_EmployeeNo),'T_T') from pips.tblM_Employee where EmployeeNo=(
    select max(EmployeeNo) from pips.tblM_User where UserName=@strBy
  );
  */
  
  select @strEmpNoApprove = isnull(max(EmployeeNo),'T_T') from pips.tblM_Employee
  where OrganizationName='PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
  and JobPositionName='PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
  
  select @intUserIdApprove = isnull(max( UserId_PK),0) from pips.tblM_User where EmployeeNo=@strEmpNoApprove;
  
  if @intGeneralVendorDocId > 0
  begin
    set @intGeneralVendorDocIdNew = @intGeneralVendorDocId;
  end;
  else
  begin
  
    insert into pips.tblT_GeneralVendorDocument (
      PrivyDocumentTypeId_FK, DocumentNumber, [Description], 
      UserIdSigned_FK, VendorId_FK, 
      [FileName], AttachmentFilePath, IsPrivy, 
      CreationDate, CreatedBy, UpdateDate, UpdateBy
    ) values (
      3, @strRequestNumber, substring(@strRequestReason,1,512),
      @intUserIdApprove, @intVendorId,
      '-','-','T',
      getdate(), @strBy, getdate(), @strBy
    );
    
    set @intGeneralVendorDocIdNew = @@IDENTITY;
    
    if @intCatalogDocVendorId = 0
    begin
    
      insert into pips.tblT_AuctionCatalogDocVendor (
        AuctionCatalogDocumentId_FK, AuctionCWinnerVendorId_FK, NumberAlias, GeneralVendorDocumentId_FK, 
        CreationDate, CreatedBy, UpdateDate, UpdateBy
      ) values (
        @intAuctionCatalogDocId, @intAuctionCWinnerVendorId, null, @intGeneralVendorDocIdNew,
        getdate(), @strBy, getdate(), @strBy
      );
    
    end;
    else
    begin
    
      update pips.tblT_AuctionCatalogDocVendor
      set GeneralVendorDocumentId_FK=@intGeneralVendorDocIdNew,
      UpdateDate=getdate(), UpdateBy=@strBy
      where AuctionCatalogDocVendorId_PK=@intCatalogDocVendorId;
    
    end;
  
  end;
  
end try
begin catch
  set @intGeneralVendorDocIdNew = 0;
  set @strOutMessage = 'Failed - '+error_message();
end catch;
  
end;
GO
