USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_CMGeneralDocSave]    Script Date: 04-Aug-25 17:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pips].[stp_CMGeneralDocSave]
@intContractDocumentId numeric(18, 0), @strBy varchar(32), @intGeneralVendorDocIdNew numeric(18, 0) OUTPUT, @strOutMessage varchar(MAX) OUTPUT
WITH EXEC AS CALLER
AS
begin
declare
@intGeneralVendorDocId numeric,
@strRequestNumber varchar(32),
@strRequestReason varchar(1024),
@strEmpNoApprove varchar(32),
@intUserIdApprove numeric;

begin try

  set @strOutMessage = '1';
  set @intGeneralVendorDocIdNew = 0;
    
  select
  @strRequestNumber = 'CM-' +cast(max(a.ContractDocumentId_PK ) as varchar(max))+'/1000/'+ cast(year(getdate()) as varchar(max)),
  @strRequestReason = max(a.DocumentName)
  from
  pips.tblM_ContractDocument a
  where
  a.ContractDocumentId_PK =@intContractDocumentId;
 

  select @intUserIdApprove = max(UserId_FK) from pips.tblM_UserAttribute where UserAttributeValue = 'PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER';
  
    insert into pips.tblT_GeneralVendorDocument (
      PrivyDocumentTypeId_FK, DocumentNumber, [Description], 
      UserIdSigned_FK, VendorId_FK, 
      [FileName], AttachmentFilePath, IsPrivy, 
      CreationDate, CreatedBy, UpdateDate, UpdateBy
    ) values (
      5, @strRequestNumber, substring(@strRequestReason,1,512),
      @intUserIdApprove, null,
      '-','-','T',
      getdate(), @strBy, getdate(), @strBy
    );
    
    set @intGeneralVendorDocIdNew = @@IDENTITY;

  
end try
begin catch
  set @intGeneralVendorDocIdNew = 0;
  set @strOutMessage = 'Failed - '+error_message();
end catch;
  
end;
GO
