USE [IPRLA_DB]
GO
/****** Object:  StoredProcedure [pips].[stp_WorkflowAfterSRApprovalSM]    Script Date: 04-Aug-25 17:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pips].[stp_WorkflowAfterSRApprovalSM] 
					@vUserNameSend		nvarchar(32), 
					@vSendDateTime		datetime,
					@vProcessId			numeric(11,0),
					@vProcessSN			nvarchar(254),
					@vTransactionId		numeric(22,0), 
					@vDocumentInfo		nvarchar(254),
					@vCurrentActivityId	numeric(4,0), 
					@vCurrentWorkflowId	numeric(4,0), 
					@vCurrentControlId	numeric(22,0),  
					@vPreviousControlId	numeric(22,0),  
					@vSendMessage		nvarchar(254),
					@vInputDecisionNumber numeric(3,0), 
					@vNextControlId     numeric(22,0),  
					@vOutReturn			nvarchar(max) OUTPUT    
AS   
BEGIN
--@vTransactionId		numeric(22,0), --> PurchaseRequestId_PK
--@vDocumentInfo		nvarchar(254), --> Purchase Request Number
--@vCurrentActivityId	numeric(4,0),  --> task
--@vCurrentWorkflowId	numeric(4,0),  --> document type
--@vCurrentControlId	numeric(22,0)  --> id task
		
	DECLARE
		@strOutMessage 					nvarchar(max),
		@strClientCode 					nvarchar(12),
		@strUserName  					nvarchar(32),
		@strDomainName  				nvarchar(32),
		@strOPTYPE 						nchar(1),
		@opt							nvarchar(2),
		@isoldpr						numeric,
		@strDocTypeCode         nvarchar(32),
		@intCekDocType numeric,
    @intIsNon numeric,
    @intUnreleaseLog numeric,
    @curd cursor,
    @intPRDtlId numeric, 
    @intCurrStatus numeric, 
    @intPrevStatus numeric,
    @intNextControlId numeric,
    @strJobPosition varchar(64),
    @intActivityPR numeric,
    @strEPMID varchar(64),
    @strOutMsgFWD varchar(max),
    @strOutMsgEPM varchar(max);

	declare
	@os_AuctPrepareId numeric,
	@os_ResultCode varchar(2),
	@os_ResultMsg varchar(MAX);
  
  -- @ start cek CAFEINS
  declare
  @intCekCAF numeric,
  @x_return_status char(1),
  @x_message varchar(max);
  -- @ end cek CAFEINS
		
	SET @strOutMessage = '';
	SET @vOutReturn = '1';	

	BEGIN TRY 
  
    --- jika reject
		if @vInputDecisionNumber=10
		begin
			update pips.tblT_PurchaseRequest
			set RequestStatus=3
			where PurchaseRequestId_PK=@vTransactionId;
		end; 
  
    --APPROVE
    if @vInputDecisionNumber = 2
    begin
  
      update pips.tblT_PurchaseRequest
      set 
      RequestStatus=2,
      PRExternalNumber=pips.lpad(pips.to_char(PurchaseRequestId_PK,null),10,'0')
      where PurchaseRequestId_PK=@vTransactionId;
      
      select @strEPMID = isnull(max(EPM_ID),'-') from pips.tblT_PurchaseRequestEPM where PurchaseRequestId_FK=@vTransactionId;
      
      if @strEPMID = '-' 
      begin
      
        select @intUnreleaseLog = isnull(max(a.PRUnreleaseLogId_PK),0)
        from pips.tblT_PRUnreleaseLog a
        where
        a.PurchaseRequestId_FK=@vTransactionId
        and a.IsLast='Y';
        
        if @intUnreleaseLog = 0
        begin

          update pips.tblT_PurchaseRequestDetail
          set DetailRequestStatus=1 -- ready auction
          where PurchaseRequestId_FK=@vTransactionId;
        
        end;
        else
        begin
        
          set @curd = cursor for
            select
            a.PurchaseRequestDetailId_PK,
            a.DetailRequestStatus,
            isnull(b.PrevDetailRequestStatus,a.DetailRequestStatus)
            from
            pips.tblT_PurchaseRequestDetail a
            left outer join (
             select
             x.PurchaseRequestId_FK,
             y.PurchaseRequestDetailId_FK,
             y.PrevDetailRequestStatus
             from
             pips.tblT_PRUnreleaseLog x
             inner join pips.tblT_PRUnreleaseLogDtl y on x.PRUnreleaseLogId_PK=y.PRUnreleaseLogId_FK
             where
             x.IsLast='Y'
            ) b on a.PurchaseRequestId_FK=b.PurchaseRequestId_FK
            and a.PurchaseRequestDetailId_PK=b.PurchaseRequestDetailId_FK
            where
            a.PurchaseRequestId_FK=@vTransactionId;
          open @curd;
          fetch next from @curd into @intPRDtlId, @intCurrStatus, @intPrevStatus;
          while (@@FETCH_STATUS = 0)
          begin
          
            update pips.tblT_PurchaseRequestDetail
            set DetailRequestStatus=@intPrevStatus
            where PurchaseRequestDetailId_PK=@intPRDtlId;
          
            fetch next from @curd into @intPRDtlId, @intCurrStatus, @intPrevStatus;  
          end;
          close @curd;
          deallocate @curd;
          
          update pips.tblT_PRUnreleaseLog
          set IsLast='T'
          where PurchaseRequestId_FK=@vTransactionId and IsLast='Y';
        
        end;
        
      end;
      else
      begin
      
        update pips.tblT_PurchaseRequestDetail
        set DetailRequestStatus=1 -- ready auction
        where PurchaseRequestId_FK=@vTransactionId;
      
        update pips.tblT_PRUnreleaseLog
        set IsLast='T'
        where PurchaseRequestId_FK=@vTransactionId and IsLast='Y';
      
      end;
      
      -- @ start cek CAFEINS
      select
      @intCekCAF =  count(1)
      from
      pips.tblT_PurchaseRqstAttribute a
      where
      a.PurchaseRequestId_FK=@vTransactionId
      and a.CAFEINS_ID is not null;
      
      if @intCekCAF > 0
      begin
      
        
        exec pips.stp_APIToCAFEINS_SRStatus
          @vTransactionId,
          'APPROVED',
          @vUserNameSend,
          @x_return_status out,
          @x_message out;
      
      end;
      
      -- @ end cek CAFEINS
      

  	  begin
  		exec [pips].[stp_AuctionAutoPreparation]
  		@vTransactionId, 
  		@vUserNameSend, 
  		@os_AuctPrepareId OUTPUT, 
  		@os_ResultCode OUTPUT, 
  		@os_ResultMsg OUTPUT;
  	  end;
      
      -- @ start for FWD include check
      begin
      exec pips.stp_AutoDispatchForwarder @vTransactionId, 'AUTOFWD', @strOutMsgFWD out;
      end;
      -- @ end for FWD include check
      
      -- @ start for EPM include check
      begin
      exec pips.stp_AutoDispatchEPM @vTransactionId, 'AUTOEPM', @strOutMsgEPM out;
      end;
      -- @ end for EPM include check
    
    end;
    -- NEXT APPROVAL
    else if @vInputDecisionNumber = 30
    begin
    
      select @intNextControlId = isnull(max(WorkflowControlId_PK),0) from pips.tblT_WorkflowControl where PreviousControlId=@vCurrentControlId
      and ControlStatus=0 and ProfileCode='INBOX';
      
      if @intNextControlId > 0
      begin
      
        select
        @strJobPosition = max(a.ActivityAttributeValue)
        from
        pips.tblT_AttributeWorkflowControl a
        inner join pips.tblT_RoleWorkflowControl b on a.RoleWorkflowControlId_Fk=b.RoleWorkflowControlId_Pk
        where
        b.WorkflowControlId_FK=@intNextControlId
        and b.RoleCode='PRAPPROVAL'
        and a.ActivityAttributeCode='JOBPOSITION';
        
        if pips.trim(@strJobPosition) = 'PRESIDENT DIRECTOR AND CHIEF EXECUTIVE OFFICER'
        begin
        
          set @intActivityPR = 244;
          
          Update pips.tblT_WorkflowControl 
          set ProcessActivityId_FK=@intActivityPR
          where WorkflowControlId_PK=@intNextControlId;
          
          Update pips.tblT_WorkflowProcessSN
          set ProcessActivityId_FK=@intActivityPR
          where WorkflowProcessSNId_PK=(
            select pips.to_number(ProcessSN) from pips.tblT_WorkflowControl where WorkflowControlId_PK=@intNextControlId
          );
        
        end;
        else if pips.trim(@strJobPosition) = 'Director'
        begin
          
          set @intActivityPR = 243;
          
          Update pips.tblT_WorkflowControl 
          set ProcessActivityId_FK=@intActivityPR
          where WorkflowControlId_PK=@intNextControlId;
          
          Update pips.tblT_WorkflowProcessSN
          set ProcessActivityId_FK=@intActivityPR
          where WorkflowProcessSNId_PK=(
            select pips.to_number(ProcessSN) from pips.tblT_WorkflowControl where WorkflowControlId_PK=@intNextControlId
          );
          
        end;
        
      end;
    
    end;
    
	END TRY 
		
	-------------
	BEGIN CATCH      
		SET @vOutReturn = 'Error : '+ ERROR_MESSAGE();  
		RETURN;   
	END CATCH 		
END
GO
